.card {
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px var(--primary-green) solid;
  background-color: var(--primary-green);
  cursor: pointer;
  box-shadow: 1rem 1rem 2rem rgb(177, 177, 177);
}

.card:hover {
  background-attachment: fixed;
}

.cardInfo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.cardInfo.loading :first-child {
  font-size: 1.1rem;
  animation: loadingIcon 1.5s infinite;
}

@keyframes loadingIcon {
  100% {
    transform: rotate(360deg);
  }
}

.cardInfo:last-child {
  margin-bottom: 0rem;
}

.cardInfo span {
  font-size: 0.8rem;
}
