* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-green: green;
  --primary-red: red;
  --primary-gray: rgb(63, 63, 63);
  --secondary-gray: rgb(199, 199, 199);
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

.wrapper {
  max-width: 1440px;
  margin: 2rem auto;
  padding: 0rem 1rem;
}
